@import '~@/styles/shared/_settings.scss';

.button {
  position: relative;
  padding: 10px 25px;
  border: 3px solid #adadad;
  background: $color-background;
  font: 800 14px/22px 'Open Sans', sans-serif;
  transition-property: border-color;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-timing;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $color-focus;
  }

  &__text {
    position: relative;
  }

  &__progress {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    background: #eaeaea;
  }
}
